* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

p {
  padding: 10px;
}

body {
  background: rgb(255, 243, 245);
}

.logo {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
  line-height: 33px;
}

.connection {
  /* font-size: 24px; */
  padding-left: 50px;
}

.hero-image {
  background-image: url("../imgs/header-bg.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

li, a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(253, 163, 178);
  text-decoration: none;
}

li, a:hover{
  color: rgb(228, 42, 73);
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: white;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

#about {
  padding-top: 50px;
}

.about-container, .gallery-container, .cakes-container, .contact-container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.me-image {
  padding: 20px;
}

.me {
  border-radius: 15px 50px;
  border: solid 5px pink;
}

.item-left, .item-right {
  width: 400px;
  align-items: center;
}


.about-text {
  width: 500px;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  text-align: center;
}

h1 {
  font-size: 37px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Dancing Script', cursive;
  color: #e9508a;
}

/* Dessert Cakes */
h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #e9508a;
}
.cakes-title {
  font-weight: bold;
  padding-bottom: 3px;
  text-decoration: underline;
}

.cakes-description {
  padding-top: 0;
}

.cake-links {
  padding: 20px;
}

.cake-links-p {
  padding-bottom: 20px;
}

.cake-active {
  color: #e9508a;
}

/* Decorated Cakes */

.cakes-title {
  padding-bottom: 0;
}

.cakes-price  {
  padding-top: 0;
  padding-bottom: 0;
}

.cakes-serving-size {
  padding-top: 0px;
  padding-bottom: 10px;
}

/* .item-left, .item-right {
  margin-right: auto;
  margin-left: auto;
} */
